# Core UI & App
streamlit
streamlit-autorefresh
python-dotenv
requests
pandas
numpy
matplotlib
plotly
Pillow

# PDF & Report Generation
fpdf
pdfkit

# Market Data
yfinance

# Bybit SDK
pybit

# Reddit API
praw

# Database
sqlalchemy
psycopg2-binary
